@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: "";
  }

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
    max-width: 100%;
}

.headerBackground
{
    background-color: #400072;
}


.h11
{
    position: absolute;
    top: 30px;
    left: 150px;
    color: white;
    font-size: 30px;
}


.mainTitle
{
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.imageMain
{
    top: 100px;
    left: 1000px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    width: 500px;
}

.learnMoreBtn
{
    height: 50px;
    width: 150px; 
    color: rgb(0, 255, 191);;
    font-weight: 500;
    border-width: 3px;
    
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(0, 255, 191);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    

}

.learnMoreBtn:hover
{
    background-color: rgb(0, 255, 191);

    transform: scale(1.1) perspective(1px);
    color: black;
}   

.odometerBigText
{
    font-size: 90px;
}

.statsMiniTxt
{
    font-size: 35px;
    color: rgb(136, 136, 136);
}

.odometer
{
    font-size: 90px;
    left: 20%;
}

.header-dscrp
{
    font-size: 25px;
    color: white;
}

.getStartedBtn
{
    height: 50px;
    width: 150px; 
    color: rgb(0, 255, 191);;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(88, 114, 107);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}


.descriptionTitle
{
    font-size: 40;
    color: #323f52;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


p{
    font-weight: 440;
    color: grey;
    font-size: 16px;
}

.downloadFooter
{
    background-color: rgb(214, 214, 214);
    height: 230px;
    margin: 0%;
}

.downloadSectionTitle
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
    color: white;
}

.footerMainTitle
{
    color: #a5abb3;
    font-size: 30px;
    font-weight: bold;
}

.footerTitles
{
    color: #a5abb3;
    font-size: 24px;
    font-weight: 600;
}

.footerText
{
    color: #a5abb3;
    font-size: 17px;
}


.phoneTitles
{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.phoneDescription
{
    font-size: 25px;
    font-weight: 500px;
    color: rgb(207, 207, 207);
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: center;
    /* margin: auto; */
    height: 100%;
}

.right {
    text-align: center;
}

.download-btns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }


header
{
    overflow: hidden;
    display: block;
    
    min-width: 100% !important;
    min-height: 50% !important;
}



