html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
    max-width: 100%;
}

.headerBackground
{
    background-color: #400072;
    height: 600px;
}




.h11
{
    position: absolute;
    top: 30px;
    left: 150px;
    color: white;
    font-size: 30px;
}


.mainTitle
{
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.imageMain
{
    top: 100px;
    left: 1000px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    width: 500px;
}

.learnMoreBtn
{
    height: 50px;
    width: 150px; 
    color: rgb(0, 255, 191);;
    font-weight: 500;
    border-width: 3px;
    
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(0, 255, 191);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    

}

.learnMoreBtn:hover
{
    background-color: rgb(0, 255, 191);

    transform: scale(1.1) perspective(1px);
    color: black;
}   

.odometerBigText
{
    font-size: 90px;
}

.statsMiniTxt
{
    font-size: 35px;
    color: rgb(136, 136, 136);
}

.odometer
{
    font-size: 90px;
    left: 20%;
}

.header-dscrp
{
    font-size: 25px;
    color: white;
}

.getStartedBtn
{
    height: 50px;
    width: 150px; 
    color: rgb(0, 255, 191);;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(88, 114, 107);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

