<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../../CSS/dashboardstyles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>

        Icon nav &middot;

    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">


    <link href="/assets/css/application.css" rel="stylesheet">

    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/util.js"
        integrity="sha256-MrUaGbgAJYr1e+J4/O6kEZIqB5yOGZN5R+oobyC6h4A=" crossorigin="anonymous"></script>
    <script src="/Js/tab.js"></script>
    <script src="/Js/util.js"></script>
    <script src="/Js/collapse.js"></script>


</head>


<body id="body">
    <script src="/Js/auth.js"></script>
    < <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
        <script src="../Js/authSignUp.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyDZ9pYHurpHjpI33InoBi2ZJT_Fdu2Z10w",
                authDomain: "hackerqmobile-newdatabase.firebaseapp.com",
                databaseURL: "https://hackerqmobile-newdatabase.firebaseio.com/",
                projectId: "hackerqmobile-newdatabase",
                storageBucket: "hackerqmobile-newdatabase.appspot.com",
                messagingSenderId: "462903816679",
                appId: "1:462903816679:web:aac71517826ca6f094cd42",
                measurementId: "G-1SVWFLQ5HH"
            };
            firebase.initializeApp(firebaseConfig);


            function createHackathon() {
                var code = (Math.floor(Math.random() * 10000) + 10000).toString().substring(1);
                var hackName = document.getElementById("hackName").value;
                var hackEmail = document.getElementById("hackEmail").value;
                var hackLocation = document.getElementById("hackLocation").value;
                var hackStart = document.getElementById("dateStart").value;
                var hackEnd = document.getElementById("dateEnd").value;
                var hackCreator = localStorage.get("email");
                console.log(hackCreator);


                var _refCreateHackathon = firebase.database().ref().child("UserData").child(hackCreator);
                _refCreateHackathon.child("Code").set(code);
                _refCreateHackathon.child("Date").set(hackStart);
                _refCreateHackathon.child("DateEnd").set(hackEnd);
                _refCreateHackathon.child("Hackathon Name").set(hackName);
                _refCreateHackathon.child("Role").set("Hoster");
                _refCreateHackathon.child("Status").set("Inactive")

                let toastOutput = ""
                toastOutput += `
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto">Great!</strong>
                        <small class="text-muted">Now</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        You have succesfully created ${hackName}.  To complete and activat hackathon Complete all the steps!
                    </div>
                </div>
                
                `

                $(toastOutput).appendTo("#body");








            }









        </script>



        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <nav class="sidebar-nav">
                        <div class="sidebar-header">
                            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button"
                                data-toggle="collapse" data-target="#nav-toggleable-md">
                                <span class="sr-only">Toggle nav</span>
                            </button>
                            <a class="sidebar-brand img-responsive" href="index.html">
                                <span class="icon icon-leaf sidebar-brand-icon"></span>
                            </a>
                        </div>

                        <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
                            <form class="sidebar-form">
                                <input class="form-control" type="text" placeholder="Search...">
                                <button type="submit" class="btn-link">
                                    <span class="icon icon-magnifying-glass"></span>
                                </button>
                            </form>
                            <ul class="nav nav-pills nav-stacked flex-column">
                                <li class="nav-header">Dashboards</li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../layouts/hackathonsContent.html">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="../layouts/myHackathonsContent.html">Hackathons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="../layouts/joinHackathon.html">Join Hackathon</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="../layouts/settings.html">Calender</a>
                                </li>

                                <li class="nav-header">More</li>
                                <li class="nav-item">
                                    <a class="nav-link " href="docs/index.html">
                                        Toolkit docs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://getbootstrap.com" target="blank">
                                        Bootstrap docs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="index-light/index.html">Light UI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#docsModal" data-toggle="modal">
                                        Example modal
                                    </a>
                                </li>
                            </ul>
                            <hr class="visible-xs mt-3">
                        </div>
                    </nav>
                </div>
                <div class="col-md-9 content">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">Welcome</h6>
                            <h2 class="dashhead-title">Create Hackathon</h2>
                        </div>

                        <button type="button" class="btn btn-primary create" style="margin-left: 320px;"
                            onclick="returnBack()">Return to My
                            Hackathons</button>
                        <style>
                            .create:hover {
                                cursor: pointer;

                            }
                        </style>

                        <script>
                            function returnBack() {
                                window.location = "../layouts/myHackathonsContent.html"
                            }
                        </script>



                    </div>






                    <div class="hr-divider mt-5 mb-3">
                        <h3 class="hr-divider-content hr-divider-heading">Create Hackathon</h3>
                    </div>


                    </head>

                    <body>



                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">General</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Hackathon Site</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Judging</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Prizes</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div style="height: 40px;">

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Hackathon Name"
                                        aria-label="Username" aria-describedby="basic-addon1" id="hackName">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Team Email"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2"
                                        id="hackEmail">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                                <div class="input-group mb-3" id="hackLocation">
                                    <input type="text" class="form-control" placeholder="Please enter a valid adress"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2"
                                        id="hackLocation">
                                    <div class="input-group-append">
                                    </div>
                                </div>

                                <div>
                                    <h4>
                                        Select Starting Date
                                    </h4>
                                </div>
                                <div style="height: 20px;">

                                </div>
                                <style>
                                    .bootstrap-iso .formden_header h2,
                                    .bootstrap-iso .formden_header p,
                                    .bootstrap-iso form {
                                        font-family: Arial, Helvetica, sans-serif;
                                        color: black
                                    }

                                    .bootstrap-iso form button,
                                    .bootstrap-iso form button:hover {
                                        color: white !important;
                                    }

                                    .asteriskField {
                                        color: red;
                                    }
                                </style>

                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso" style="margin-left: -30px;">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form class="form-horizontal" method="post">
                                                    <div class="form-group ">

                                                        </label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-calendar">
                                                                    </i>
                                                                </div>
                                                                <input class="form-control" id="date" name="date"
                                                                    placeholder="MM/DD/YYYY" type="text"
                                                                    id="dateStart" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-2">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4>
                                    Select Ending Date
                                </h4>
                                <div style="height: 30px;">

                                </div>
                                <div class="bootstrap-iso" style="margin-left: -30px;">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form class="form-horizontal" method="post">
                                                    <div class="form-group ">

                                                        </label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-calendar">
                                                                    </i>
                                                                </div>
                                                                <input class="form-control" id="date" name="date"
                                                                    placeholder="MM/DD/YYYY" type="text" id="dateEnd" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-2">
                                                            <button class="btn btn-primary " name="submit" type="submit"
                                                                onclick="createHackathon()">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
                                <!-- Include jQuery -->
                                <script type="text/javascript"
                                    src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

                                <!-- Include Date Range Picker -->
                                <script type="text/javascript"
                                    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
                                <link rel="stylesheet"
                                    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

                                <script>
                                    $(document).ready(function () {
                                        var date_input = $('input[name="date"]'); //our date input has the name "date"
                                        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                        date_input.datepicker({
                                            format: 'mm/dd/yyyy',
                                            container: container,
                                            todayHighlight: true,
                                            autoclose: true,
                                        })
                                    })
                                </script>




                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div style="height: 30px;"></div>
                                <h4>Hackathon Website</h4>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Hackathon Website"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <h4>Hackathon Description</h4>

                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <h4>
                                    Video
                                </h4>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Ex. youtube.com"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <h4>
                                    Eligability
                                </h4>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control" placeholder="..." aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                                <h4>
                                    Rules
                                </h4>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control" placeholder="List of Rules..."
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <h4>
                                    Code of Conduct
                                </h4>
                                <button class="btn btn-primary " name="submit" type="submit">
                                    Add Code of Conduct Document +
                                </button>







                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div style="height: 20px;">

                                </div>
                                <h4>
                                    Judging Criteria
                                </h4>



                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button class="btn btn-primary " name="submit" type="submit">
                                    Upload Criteria PDF
                                </button>
                                <div style="height: 30px;"></div>
                                <h4>
                                    Judges
                                </h4>



                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>

                            </div>

                            <div class="tab-pane fade prizeInput" id="nav-contact2" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div id="prizeInput">
                                    <div style="height: 20px;">

                                    </div>
                                    <h4>
                                        Prize Name
                                    </h4>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ex. Xbox"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <h4>
                                        Number of Winners
                                    </h4>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control" placeholder="4 members..."
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <h4>
                                        Prize Description
                                    </h4>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="col">


                                    </div>

                                </div>
                                <button class="btn btn-primary " name="submit" type="submit" id="addPrize">
                                    Add Prize +
                                </button>


                                <script>
                                    $('#addPrize').on('click', function () {
                                        let output4 = "";
                                        output4 += `
                                        <div style="height: 20px;">

                                            </div>
                                            <h4>
                                                Prize Name
                                            </h4>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input type="text" class="form-control" placeholder="Ex. Xbox" aria-label="Username"
                                                    aria-describedby="basic-addon1">
                                            </div>
                                            <h4>
                                                Number of Winners
                                            </h4>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input type="text" class="form-control" placeholder="4 members..."
                                                    aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <h4>
                                                Prize Description
                                            </h4>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                            <div class="col">
                                                

                                            </div>                                   
                                        `
                                        $(output4).appendTo('#prizeInput')
                                    });
                                </script>






                            </div>
                        </div>
                        <div style="margin-top: 40px;"></div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Update
                        </button>
                </div>





                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/tether.min.js"></script>
                <script src="assets/js/chart.js"></script>
                <script src="assets/js/tablesorter.min.js"></script>
                <script src="assets/js/toolkit.js"></script>
                <script src="assets/js/application.js"></script>
                <script>
                    // execute/clear BS loaders for docs
                    $(function () { while (window.BS && window.BS.loader && window.BS.loader.length) { (window.BS.loader.pop())() } })
                </script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                    crossorigin="anonymous"></script>
</body>

</html>