<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../../CSS/dashboardstyles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>
      
        Icon nav &middot; 
      
    </title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    
      <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">
    
    
    <link href="/assets/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body onload="getEmail(), getHackathonData(), getName(), getPic()">
    <script src="/Js/auth.js"></script>
    < <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
        <script src="../Js/authSignUp.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyDZ9pYHurpHjpI33InoBi2ZJT_Fdu2Z10w",
                authDomain: "hackerqmobile-newdatabase.firebaseapp.com",
                databaseURL: "https://hackerqmobile-newdatabase.firebaseio.com/",
                projectId: "hackerqmobile-newdatabase",
                storageBucket: "hackerqmobile-newdatabase.appspot.com",
                messagingSenderId: "462903816679",
                appId: "1:462903816679:web:aac71517826ca6f094cd42",
                measurementId: "G-1SVWFLQ5HH"
            };
            firebase.initializeApp(firebaseConfig);


            function getEmail() {
                userDisplayEmail = localStorage.getItem("email");
                document.getElementById("nameDisplay").innerHTML = userDisplayEmail;
            };

            function getName() {
                userDisplayName = localStorage.getItem("name");
                document.getElementById("welcomeName").innerHTML = userDisplayName;

            }

            function getPic() {
                userPic = localStorage.getItem("photo");
                let output2 = "";

                output2 += `
                <img class="profilepic" style= "height: 200px; width: 200px; border-radius: 400px;" src = "${userPic}">


                </img>
                `

                if (output2 !== "") {
                    $(output2).appendTo("#profilePic");
                }
            }


            function getHackathonData() {
                var emailRef = localStorage.getItem("email")
                var hackathonsRef = firebase.database().ref().child("UserData").child(emailRef).child("Hackathons");
                var hackathonsList = [];

                hackathonsRef.once("value", (snap) => {

                    console.log(snap.val());
                    rawData = snap.val();

                    if (rawData !== null) {
                        snap.forEach((child) => {
                            hackathonsList.push([child.child("Code").val(), child.child("Date").val(), child.child("Hackathon Name").val(), child.child("Role").val(), child.child("ImageURL")]);
                            //[code, date, name, role, imageURL]
                        });
                    }

                    console.log(hackathonsList);



                }).then(function () {



                    for (let i = 0; i <= hackathonsList.length; i++) {
                        let output = ""
                        var hackathonName = hackathonsList[i][2];
                        var hackathonCode = hackathonsList[i][0];
                        var hackathonDate = hackathonsList[i][1];
                        var bgImage = hackathonsList[i][4];
                        var hackathonRole = hackathonsList[i][3];

                        output += `
                        <a href="" style="color: inherit; text-decoration: none;">
                            <div class="hackathon">
                                <h2 class="hack-title">
                                    ${hackathonName}
                                </h2>
                                <ul style="display: flex; list-style-type: none; margin-left: -40px; margin-top: 40px;">
                                    <li style="display: flex;">
                                        <p class="hack-des" style="font-size: 20px; font-weight: bold;">
                                            Hackathon Code: ${hackathonCode}
                                        </p>
                                        <p style="font-size: 20px; font-weight: bold;">
                                        | 
                                        </p>
                                        <p style="width: 10px;">
    
                                        </p>
                                        <p style="font-size: 20px; font-weight: bold;">
                                            ${hackathonRole}
                                        </p>
                                    </li>
                                </ul>
                                
                    
                                <div class="hack-img">
                                    <h2 style="margin-top: 30px; font-size: 20px">
                                        ${hackathonDate}
                                    </h2>
                                
    
                                </div>
                        </a>
                        `

                        if (output !== "") {
                            $(output).appendTo("#yourHackathons");
                        } else {
                            console.log("Some error occured, when appending your hackathons");
                            document.getElementById("noHacks").style.display = "initial";
                        }



                    };
                });

            }

            function signOut() {
                firebase.auth().signOut().then(function () {
                    // Sign-out successful.
                    window.location = "../login.html"
                }).catch(function (error) {
                    // An error happened.
                    console.log("An error with signout has occured")
                });
            }

            

        




        </script>



<div class="with-iconav">

  <nav class="iconav">
    <a class="iconav-brand" href="../index.html">
      <span class="icon icon-leaf iconav-brand-icon"></span>
    </a>
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link active" href="../index.html" title="Overview" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-home"></span>
            <small class="iconav-nav-label hidden-md-up">Overview</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../order-history/index.html" title="Order history" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-text-document"></span>
            <small class="iconav-nav-label hidden-md-up">History</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../fluid/index.html" title="Fluid layout" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-globe"></span>
            <small class="iconav-nav-label hidden-md-up">Fluid layout</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../icon-nav/index.html" title="Icon-nav" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-area-graph"></span>
            <small class="iconav-nav-label hidden-md-up">Icon nav</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../docs/index.html" title="Docs" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-list"></span>
            <small class="iconav-nav-label hidden-md-up">Docs</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index-light/index.html" title="Light UI" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-flash"></span>
            <small class="iconav-nav-label hidden-md-up">Light UI</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Signed in as mdo" data-toggle="tooltip" data-placement="right" data-container="body">
            <img src="../assets/img/avatar-mdo.png" alt="" class="rounded-circle">
            <small class="iconav-nav-label hidden-md-up">@mdo</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Welcome</h6>
        <h3 class="dashhead-title" id="welcomeName">Loading...</h3>
      </div>

      <div class="dashhead-toolbar">
        <div class="input-with-icon dashhead-toolbar-item">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
        </div>
        <span class="dashhead-toolbar-divider hidden-sm-down"></span>
        <div class="btn-group dashhead-toolbar-item btn-group-thirds">
          <button type="button" class="btn btn-outline-primary">ICONHAPPY</button>
          <button type="button" class="btn btn-outline-primary active">ICONOK</button>
          <button type="button" class="btn btn-outline-primary">ICONSAD</button>
        </div>
      </div>
    </div>

    <ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="#traffic" class="nav-link active" role="tab" data-toggle="tab" aria-controls="traffic">Traffic</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#sales" class="nav-link" role="tab" data-toggle="tab" aria-controls="sales">Sales</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#support" class="nav-link" role="tab" data-toggle="tab" aria-controls="support">Support</a>
      </li>
    </ul>

    <hr class="mt-0 mb-5">

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="traffic">
        
        </div>
      </div>

      <div id="yourHackathons">

      </div>

      

    


    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/tether.min.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/tablesorter.min.js"></script>
    <script src="../assets/js/toolkit.js"></script>
    <script src="../assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>