<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../../CSS/dashboardstyles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>

        Icon nav &middot;

    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">


    <link href="/assets/css/application.css" rel="stylesheet">

    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>
</head>


<body onload=" getHackathonData(), getName()">
    <script src="/Js/auth.js"></script>
    < <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
        <script src="../Js/authSignUp.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyDZ9pYHurpHjpI33InoBi2ZJT_Fdu2Z10w",
                authDomain: "hackerqmobile-newdatabase.firebaseapp.com",
                databaseURL: "https://hackerqmobile-newdatabase.firebaseio.com/",
                projectId: "hackerqmobile-newdatabase",
                storageBucket: "hackerqmobile-newdatabase.appspot.com",
                messagingSenderId: "462903816679",
                appId: "1:462903816679:web:aac71517826ca6f094cd42",
                measurementId: "G-1SVWFLQ5HH"
            };
            firebase.initializeApp(firebaseConfig);


            ///function getEmail() {
            ///userDisplayEmail = localStorage.getItem("email");
            ///document.getElementById("nameDisplay").innerHTML = userDisplayEmail;
            ///};





           

            function signOut() {
                firebase.auth().signOut().then(function () {
                    // Sign-out successful.
                    window.location = "../login.html"
                }).catch(function (error) {
                    // An error happened.
                    console.log("An error with signout has occured")
                });
            }

            function joinHackathon() {
                var joinCode = document.getElementById("joinCode").value;
                var userEmail = localStorage.getItem("normalEmail");
                var userName = localStorage.getItem("name");
                var formattedEmail = localStorage.getItem("email")
                var userId = Math.floor(100000000 + Math.random() * 900000000);
                console.log(joinCode);
                console.log(userId)


                _refHackathonAttendees = firebase.database().ref().child("Hackathons").child(joinCode).child("Attendees").child(userId);
                _refHackathonAttendees.child("Email").set(userEmail);
                _refHackathonAttendees.child("Name").set(userName);
                _refHackathonAttendees.child("Status").set("Absent");

                _refHackathonAttendees2 = firebase.database().ref().child("UserData").child(formattedEmail).child("Hackathons").child(joinCode);
                _refHackathonAttendees2.child("Role").set("Attendee")
                
            }








        </script>


        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <nav class="sidebar-nav">
                        <div class="sidebar-header">
                            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button"
                                data-toggle="collapse" data-target="#nav-toggleable-md">
                                <span class="sr-only">Toggle nav</span>
                            </button>
                            <a class="sidebar-brand img-responsive" href="index.html">
                                <span class="icon icon-leaf sidebar-brand-icon"></span>
                            </a>
                        </div>

                        <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
                            <form class="sidebar-form">
                                <input class="form-control" type="text" placeholder="Search...">
                                <button type="submit" class="btn-link">
                                    <span class="icon icon-magnifying-glass"></span>
                                </button>
                            </form>
                            <ul class="nav nav-pills nav-stacked flex-column">
                                <li class="nav-header">Dashboards</li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../layouts/hackathonsContent.html">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../layouts/myHackathonsContent.html">Hackathons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="../layouts/joinHackathon.html">Join Hackathon</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="../layouts/settings.html">Calender</a>
                                </li>

                                <li class="nav-header">More</li>
                                <li class="nav-item">
                                    <a class="nav-link " href="docs/index.html">
                                        Toolkit docs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://getbootstrap.com" target="blank">
                                        Bootstrap docs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="index-light/index.html">Light UI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#docsModal" data-toggle="modal">
                                        Example modal
                                    </a>
                                </li>
                            </ul>
                            <hr class="visible-xs mt-3">
                        </div>
                    </nav>
                </div>
                <div class="col-md-9 content">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">Welcome</h6>
                            <h2 class="dashhead-title" id="welcomeName">Join Hackathon</h2>
                        </div>

                        <style>
                            .create:hover {
                                cursor: pointer;

                            }
                        </style>






                    </div>




                    <div class="hr-divider mt-5 mb-3">
                        <h3 class="hr-divider-content hr-divider-heading">Join Hackathon</h3>
                    </div>

                    <center>
                        <h1>
                            Enter Access Code Here
                        </h1>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            </div>
                            <input type="number" class="form-control" placeholder="Hackathon Code"
                                 id="joinCode" style="width: 300px; height: 100px; font-size: 30px;" maxlength="4">
                        </div>
                        
                    </center>

                       

                        <center style="margin-top: 50px;">
                            <button class="btn btn-primary" onclick="joinHackathon()">Join Hackathon</button>
                        </center>

                        <style>
                            

                            .pin {
                                padding: 10px;
                                border: 1px solid rgb(7, 7, 7);
                                border: none;
                                background-color: rgb(0, 0, 0);
                                width: 50px;
                                height: 70px;
                                text-align: center;
                                font-size: 30px;
                                border-radius: 10px;
                                color: rgb(255, 255, 255);
                            }

                            h1 {
                                font-size: 50px;
                                margin-top: 10px;
                            }

                            i {
                                margin-left: 30px;
                            }
                        </style>



                        <script src="assets/js/jquery.min.js"></script>
                        <script src="assets/js/tether.min.js"></script>
                        <script src="assets/js/chart.js"></script>
                        <script src="assets/js/tablesorter.min.js"></script>
                        <script src="assets/js/toolkit.js"></script>
                        <script src="assets/js/application.js"></script>
                        <script>
                            // execute/clear BS loaders for docs
                            $(function () { while (window.BS && window.BS.loader && window.BS.loader.length) { (window.BS.loader.pop())() } })
                        </script>
</body>

</html>