<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../../CSS/dashboardstyles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



<body onload="getEmail(), getHackathonData(), getName(), getPic()">
    <script src="/Js/auth.js"></script>
    < <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
        <script src="../Js/authSignUp.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyDZ9pYHurpHjpI33InoBi2ZJT_Fdu2Z10w",
                authDomain: "hackerqmobile-newdatabase.firebaseapp.com",
                databaseURL: "https://hackerqmobile-newdatabase.firebaseio.com/",
                projectId: "hackerqmobile-newdatabase",
                storageBucket: "hackerqmobile-newdatabase.appspot.com",
                messagingSenderId: "462903816679",
                appId: "1:462903816679:web:aac71517826ca6f094cd42",
                measurementId: "G-1SVWFLQ5HH"
            };
            firebase.initializeApp(firebaseConfig);


            function getEmail() {
                userDisplayEmail = localStorage.getItem("email");
                document.getElementById("nameDisplay").innerHTML = userDisplayEmail;
            };

            function getName() {
                userDisplayName = localStorage.getItem("name");
                document.getElementById("welcomeName").innerHTML = userDisplayName;

            }

            function getPic() {
                userPic = localStorage.getItem("photo");
                let output2 = "";

                output2 += `
                <img class="profilepic" style= "height: 200px; width: 200px; border-radius: 400px;" src = "${userPic}">


                </img>
                `

                if (output2 !== "") {
                    $(output2).appendTo("#profilePic");
                }
            }


            function getHackathonData() {
                var emailRef = localStorage.getItem("email")
                var hackathonsRef = firebase.database().ref().child("UserData").child(emailRef).child("Hackathons");
                var hackathonsList = [];

                hackathonsRef.once("value", (snap) => {

                    console.log(snap.val());
                    rawData = snap.val();

                    if (rawData !== null) {
                        snap.forEach((child) => {
                            hackathonsList.push([child.child("Code").val(), child.child("Date").val(), child.child("Hackathon Name").val(), child.child("Role").val(), child.child("ImageURL")]);
                            //[code, date, name, role, imageURL]
                        });
                    }

                    console.log(hackathonsList);



                }).then(function () {



                    for (let i = 0; i <= hackathonsList.length; i++) {
                        let output = ""
                        var hackathonName = hackathonsList[i][2];
                        var hackathonCode = hackathonsList[i][0];
                        var hackathonDate = hackathonsList[i][1];
                        var bgImage = hackathonsList[i][4];
                        var hackathonRole = hackathonsList[i][3];

                        output += `
                        <a href="" style="color: inherit; text-decoration: none;">
                            <div class="hackathon">
                                <h2 class="hack-title">
                                    ${hackathonName}
                                </h2>
                                <ul style="display: flex; list-style-type: none; margin-left: -40px; margin-top: 40px;">
                                    <li style="display: flex;">
                                        <p class="hack-des" style="font-size: 20px; font-weight: bold;">
                                            Hackathon Code: ${hackathonCode}
                                        </p>
                                        <p style="font-size: 20px; font-weight: bold;">
                                        | 
                                        </p>
                                        <p style="width: 10px;">
    
                                        </p>
                                        <p style="font-size: 20px; font-weight: bold;">
                                            ${hackathonRole}
                                        </p>
                                    </li>
                                </ul>
                                
                    
                                <div class="hack-img">
                                    <h2 style="margin-top: 30px; font-size: 20px">
                                        ${hackathonDate}
                                    </h2>
                                
    
                                </div>
                        </a>
                        `

                        if (output !== "") {
                            $(output).appendTo("#yourHackathons");
                        } else {
                            console.log("Some error occured, when appending your hackathons");
                            document.getElementById("noHacks").style.display = "initial";
                        }



                    };
                });

            }

            function signOut() {
                firebase.auth().signOut().then(function () {
                    // Sign-out successful.
                    window.location = "../login.html"
                }).catch(function (error) {
                    // An error happened.
                    console.log("An error with signout has occured")
                });
            }








        </script>
        <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
          </nav>

        <ul style="display: flex;" class="sections" id="centerContentTabs">
            <li>
                <!-- Left Section-->
                <div class="leftBar23">
                    <h1 class="logo">
                        Procura
                    </h1>

                    <ul class="screensList">
                        <li class="options">
                            <a href="./dashboard.html">Dashboard</a>
                        </li>
                        <li class="options">
                            <a href="./hackathonsContent.html">Hackathons</a>
                        </li>
                        <li class="options">
                            <a href="./myHackathonsContent.html">My Hackathons</a>
                        </li>
                        <li class="options">
                            <a href="./joinHackathon.html">Join Hackathon</a>
                        </li>
                        <li class="options">
                            <a href="settings.html">Settings</a>
                        </li>
                        <li class="options">
                            <a href="./contact.html">Contact Support</a>
                        </li>


                    </ul>


                </div>
            </li>
            <li>
                <!--Middle Section-->
                <div id="centerContent" class="center">

                    <div id="centerContent-1">
                        <h1 class="title">Join Hackathon</h1>


                        <ul class="chart title" style="list-style-type: none; display: flex; margin-left: 380px;">
                            <li>


                            </li>


                        </ul>

                       

                        



                        <div class="grid-layout" id="yourHackathons">



                            <div class="alert alert-primary" role="alert"
                                style="width: 800px; height: 100px; font-size: 23px; display: none;" id="noHacks">
                                You do not have any Hackathons. <a href="#" class="alert-link">Create one here</a>.
                            </div>



                        </div>

                    </div>
                    <div id="centerContent-2">
                        Hello This is a test

                    </div>


                </div>


            </li>
            <li>
                <!--Right Section-->
                <div class="rightBar23">
                    <h2 class="logout" id="btnLogout" onclick="signOut()">Logout</h2>
                    <div id="profilePic">

                    </div>
                    <h2 class="profile-name" id="nameDisplay">
                        Loading...

                    </h2>
                    <h2 class="upcomingevents">
                        Upcoming Events
                    </h2>

                    <ul class="events">
                        <li class="eventsli">
                            <div class="event">
                                <h3 class="upcoming-title">
                                    Procura Hacks
                                </h3>
                                <p class="upcoming-data">
                                    February 28, 2021

                                </p>

                            </div>
                        </li>
                        <li class="eventsli">
                            <div class="event">
                                <h3 class="upcoming-title">
                                    Procura Hacks
                                </h3>
                                <p class="upcoming-data">
                                    February 28, 2021

                                </p>

                            </div>
                        </li>
                        <li class="eventsli">
                            <div class="event">
                                <h3 class="upcoming-title">
                                    Procura Hacks
                                </h3>
                                <p class="upcoming-data">
                                    February 28, 2021

                                </p>

                            </div>
                        </li>

                    </ul>



                </div>
            </li>
        </ul>


        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>


</body>

</html>